@page "/"
@inject IUrlShortenerService UrlShortenerService
@using UrlShortener.Client.Components.Controls
@using UrlShortener.Client.Models.DTOs
@using UrlShortener.Client.Services

<PageTitle>Url Shortener</PageTitle>

<div class="d-flex justify-content-center">
    <ShortenUrlForm GetShortenedUrl="GetShortenedUrl"></ShortenUrlForm>
</div>
<br>
@if (ShortenedUrl is not null)
{
    <div class="d-flex justify-content-center mb-3">
        <p>Your shortened URL: <a href="@ShortenedUrl" target="_blank">Click Me</a></p>
    </div>
}
<br>

<HistoryOfShortenedUrls ShortenedUrls="History"></HistoryOfShortenedUrls>

@code
{
    private string? ShortenedUrl { get; set; }
    private List<ShortenedUrl>? History { get; set; }
    private async Task GetShortenedUrl(string longUrl)
    {
        var response = await UrlShortenerService.GetShortenedUrl(new ShortenUrlRequest(longUrl));
        ShortenedUrl = response.ShortUrl;
        History?.Add(new ShortenedUrl(response.ShortUrl, response.LongUrl, DateTime.UtcNow));
        StateHasChanged();
    }

    protected override async Task OnParametersSetAsync()
    {
        History = await UrlShortenerService.GetShortenedUrlsHistory();
    }
}