@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar bg-body-tertiary border-bottom border-3">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Super Mega Nice And Very Modern URL Shortener</span>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>